.DS_Store
.idea
movie-data.sql
*.war
**/target/
**/example/
*.iml
/DataInsert/data
DataInsert/dbinsert/out
DataInsert/dbinsert/ActorParser.log
DataInsert/dbinsert/actors63.xml
DataInsert/dbinsert/CastParser.log
DataInsert/dbinsert/casts124.xml
DataInsert/dbinsert/MainParser.log
DataInsert/dbinsert/mains243.xml
