.DS_Store
project1/.idea
project1/target


.DS_Store
FabFlix-test/Server/Fabflix 2/src/main/.DS_Store
FabFlix-test/Server/Fabflix 2/src/main/.DS_Store
FabFlix-test/Server/Fabflix 2/src/main/resources/.DS_Store
FabFlix-test/Server/Fabflix 2/src/main/resources/.DS_Store
